.about-me-container {
  background-color: #f6f2fe;
    padding: 40px;
    text-align: center;
    color: #4c4859;
}
  
.about-me-content {
   margin: 0 auto;
}

h2{
  font-size: 31px;
  margin-bottom: 20px;
}

.firstPara{
  color:#4c4859;
}
  
.video{
  height: auto;
  width: -webkit-fill-available;
}

h1{
  float: left;
}

.aboutUS{
  padding: 0px;
}

.aboutUS p{
  box-sizing: inherit;
  padding: 0px 40px;
}

.images{
  display: flex;
  justify-content: space-evenly;
}

.images img{
  height: 300px
}

.images p{
  text-align: left;
  font-size: inherit;
}

.describe{
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  align-items: flex-start;
}

.describe h3{
  float: left;
  font-size: large;
}

.h3p{
  display: flex;
  padding: 10px 25px;
  flex-direction: column;
  align-items: flex-start;
}

.subH3p{
  color:#06d6a0;
  font-weight: 900;
}
.firstWord a{
  color:#06d6a0;
  text-decoration: none;
}
  /*p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
  }*/

.niEle{
    margin-top: 0px;
    font-size: 2rem;
    font-weight: bold;
    color: #06d6a0;
}

.daledale{
  font-size: xx-large;
  /* color: #06d6a0; */
  font-weight: bold;
}

.daledale a{
  color: #06d6a0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #06d6a0;
  color: #4c4859;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px 0px 25px;
}

#myBtn:hover {
  background-color: #4c4859;
  color:#06d6a0;
}