.cart-container {
    background: linear-gradient(126deg, #fad8f0, #f7f7f7);
    padding: 40px;
    text-align: center;
    color: #82187c;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.priceCart{
    display: flex;
    justify-content: space-between;
}

.totalCart{
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 50%;
}

.ButtonRemove{
    width: auto;
}
