.header{
    padding: 0px 10px;
    background-color: #efbac4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgb(27, 39, 58);
    position: fixed;
    width: -webkit-fill-available;
}

.navigation-container {
    display: flex;
}

.lista{
    list-style-type: none;
    margin-top: revert;
}

ul{
    padding: 0px;
}

.lista li{
    display: inline;
    margin-right: 10px;
    font-size: large;
    font-weight: bold;
}

.lista li a{
    color: rgb(27, 39, 58);
    text-decoration: none;
}


.logo img{
    height: 35px;
}

.cart img{
    height: 50px;
}

.cartItem{
    display: flex;
    justify-content: flex-end;
}

.cart a{
    text-decoration: none;
}

.itemAdd{
    position: absolute;
    background-color: cornsilk;
      /* height: fit-content; */
    height: 25px;
    width: 25px;
      /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }