.products-card{
    background-color: #f6f2fe;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 25%;
    margin-top: 5rem;
    padding: 10px;
    border-radius: 25px 0px 0px;
    opacity: 1;

}

.products-card:hover{
    background-color: white;
    opacity: 1;
    box-shadow: #4c4859 0px 1px 2px, #4c4859 0px 2px 4px, #4c4859 0px 4px 8px, #4c4859 0px 8px 16px;
}
.products-image{
    height: 10rem;
    padding: 0px 15px;
    width: -webkit-fill-available;
    border-radius: 10%;
}
  
.firstWord{
    color: #06d6a0;
}
.checked {
    color: orange;
}

.stars{
    display: flex;
    justify-content: space-between;
    padding: 4px 14px;
    font-weight: 800;
    font-style: initial;   
}

.stars a{
    text-decoration: none;
    color: #4c4859;
    font-size: larger;
    
}
.price{
    text-decoration: line-through;
    margin-bottom: auto;
}

.newprice{
    margin-top: auto;
    color: #ef2809;
}

.supprice{
    font-size: 1.7rem;
    font-weight: bold;    
    display: block;
}

.supprice sup{
    font-size: 1rem;
}

.stars span{
    padding: 0px 0px;
}

.pricelist{
    margin-top: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color:#4c4859;
    font-size: 1.7rem;
    font-weight: bold;    
}
.stock{
    font-size: 0.8rem;
    color: gray;
}

.descarcare{
    display: flex;
    align-items: center;
}
.descarcare img{
    height: 17px;
}

.discount{
    gap: 3px;
    display: inline-flex;
    color: #ef2809;
}

.Cart{
    float: right;
    width: fit-content;
    display: flex;
    align-content: space-around;
    justify-content: flex-end;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid gray;
    background-color: #4c4859;
    border-radius: 10px 10px 10px 0px;
}

.Cart:hover{
    background-color: #06d6a0;
    
}

.Cart span{
    background-image: linear-gradient(to right,#06d6a0,#06d6a0);
    border-top-right-radius: 0% 0%!important;
    border-bottom-right-radius: 37% 100%!important;
    margin: 0px;
    padding: 0px 3px;
}

.Button1{
    font-family: 'Red Hat Display', sans-serif;
    width: 100px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: white;
  margin-left: 0px;
}


/* Popup container - can be anything you want */
.Button1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  